body{
    margin: 15px;
    font-size: 18px;
}

.header__container{
    margin-bottom: 50px
}

.main__container, .main__inputContainer, .main_outputContainer, .textareaContainer, .alertContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.textarea{
    width: 280px;
    height: 350px;
    resize: none;
    outline: none;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}


.textarea::placeholder{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
}

.inputContainer__p, .outputContainer__p{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 15px 0;
}

.outputContainer__p{
    color: green;
}

.inputContainer__p span, .outputContainer__p span{
    margin-right: 5px;
}


.inputContainer__buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.btn{
    width: 250px;
    height: 50px;
    margin: 5px;
    border: 0;
    border-radius: 10px;
    background-color:#0A3871;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.button__desencriptar, .button__actualizar{
    background-color: white;
    border: 1px solid #0A3871;
    color: #0A3871;
}


.alertContainer{
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    width: 100%;
    max-width: 700px;
    height: 180px;
    padding: 32px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.alertContainer img{
    display: none;
}

.alert__title{
    font-size: 24px;
    font-weight: 700;
    color: #343A40;
}

.alert__p{
    font-size: 16px;
    font-weight: 400;
    color: #495057;
}


.main_outputContainer .oculto{
    display: none;
}




@media(min-width:768px){

    .textarea{
        width: 700px;
        height: 400px;
        resize: none;
        outline: none;
        border: 0;
        padding: 15px;
        font-size: 18px;
    }
    
    .textarea::placeholder{
        font-size: 16px;
    }

    .inputContainer__buttons{
        flex-direction: row;
    }

}


@media(min-width:1440px){
    .main__container{
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        height: 800px;
    }

    .inputContainer, .outputContainer{
        height: 80%;
    }
    
    .alertContainer{
        width: 400px;
        height: 700px;
    }
    .alertContainer img{
        width: 100%;
        display: block;
    }

}